div {
    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    img:hover {
        cursor: pointer;
    }
}

.darkMode {
    background-color: black;
}

.icons {
    color: lightgray;
    margin-right: -3rem;
    z-index: 2;
}

.dark {
    background-color: black;

}

.light {
    background-color: white;
    height: 100vh;
}

.listType {
    list-style-type: none;
}

.hovered:hover span{
    color: rgb(248, 56, 56);
}

.list-group li {
    list-style-type: none;
}