div {
    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.darkMode {
    background-color: black;
}

.icons {
    color: lightgray;
    margin-right: -3rem;
    z-index: 2;
}

.dark {
    background-color: black;
    height: 100vh;
}

.light {
    background-color: white;
    height: 100vh;
}

.listType {
    list-style-type: none;
}