div {
    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.darkMode {
    background-color: black;
}

.icons {
    color: lightgray;
    margin-right: -3rem;
    z-index: 2;
}