.header-left {
    color: red;
    // font-size: 2rem;
    display: flex;
    flex-direction: row;
    border: 2px red solid;
    justify-content: end;
    gap: 3rem;
    padding-top: 1rem;
    font-weight: 600;
    padding-right: 1rem;  
    
    a {
        color: black;
    }
}