.google-img {
  // border: 2px red solid;
  margin-top: 5rem;
  @include forFlex;
}

.input-field {
  margin-top: 2rem;
  @include forFlex;
  flex-direction: row;
  border: 1px solid lightgrey;
  border-radius: 999px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;

  .input {
    border: none;
    width: 70%;
  }
  .input:focus {
    border-bottom: none;
  }

  .icons {
    color: gray;
  }
}
.buttons {
  @include flexRow;
  margin-top: 2rem;
  gap: 1rem;

  button {
    color: gray;
    border: 1px solid lightgray;

    &:hover {
        border: 1px solid lightgray;
        color: black;
        -webkit-box-shadow: 6px 3px 12px -3px #252427; 
        box-shadow: 6px 3px 12px -3px #2a2a2b;
    }
  }
}
